.real-time-monitor {
    display: flex;
    flex-direction: column;
    align-items: center;
    .select-cell {
        margin: 10px;
    }
    .mobile-select {
        width: 200px;
        height: 35px;
    }
}
