.history-query {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .select-cell {
        margin: 10px;
    }

    .select-cell-btn {
        margin: 10px 12px 10px 12px;
    }

    .select-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .time-select {
        flex-direction: row;
    }

    .select-row-btn {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .mobile-select {
        width: 223px;
        height: 35px;
    }

    .setting-btn {
    }

    .divider-dark {
        border-color: rgb(173, 173, 173);
    }
}

.setting-modal {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .setting-row {
        display: flex;
        justify-content: flex-start;
    }
    .setting-cell {
        margin: 10px;
    }
    .setting-cell-mulselect {
        margin: 10px;
        input {
            height: 60px;
        }
    }
    .mobile-id-select {
        width: 187px;
    }
    .demo-multiple-chip {
        min-width: 187px;
    }
}
